manifest {
    name            = 'microbox'
    author          = 'marouane'
    homePage        = 'https://github.com/AppaYiipYiip/microbox'
    description     = 'Modular, GUI-agnostic metagenomics pipeline toolbox'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.0'
    version         = '0.1.0'
}

params {
    input = null
}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled      = true
        docker.runOptions   = '-u $(id -u):$(id -g)'
        docker.temp         = 'auto'
        conda.enabled       = false
        singularity.enabled = false
    }
    test {
        includeConfig 'conf/test.config'
    }
    // dev / test_aws / prod profiles land in later milestones once the
    // capped-vs-full Kraken2 DB stages exist (PLAN.md §2.3, §6.3).
}
